.table {
	margin: 0 auto;
	width: 100%;
}

.table th {
	background-color: rgb(58, 135, 207);
	padding: 20px;
	color: white;

}

.table .table__item {
	background-color: #f2f2f2;
	text-align: center;
}

.table .table__item-cell {
	padding: 10px 15px;
	width: 40%;
}

.table .table__action-button {
	margin: 5px 5px;
	padding: 10px 20px;
	border-width: 0;
	color: white;
	border-radius: 4px;
}
.table .table__action-button:hover {
	cursor: pointer;
	filter: brightness(0.9);
}

.table .table__action-button--view {
	background-color: #eaef41;
}

.table .table__action-button--update {
	background-color: #179537;
}

.table .table__action-button--delete {
	background-color: #b62911;
}

.table .table__action-button--cancel {
	background-color: #c7c2c2;
}

.error {
	color: #b62911;
	text-align: center;
}